@font-face {
  font-family: 'proximanova';
  src: url('/static/fonts/proximanova-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

  @font-face {
    font-family: 'proximanovaBold';
    src: url('/static/fonts/proximanova-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal; }

    @font-face {
      font-family: 'proximanovaLight';
      src: url('/static/fonts/proximanova-light.ttf') format('truetype');
      font-weight: lighter;
      font-style: normal; }

      @font-face {
        font-family: 'socialMedia';
        src: url('/static/fonts/ss-social-regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal; }

        html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
        pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
        strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
        legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
        canvas, details, figcaption, figure, footer, header, hgroup, menu, nav,
        section, summary, time, mark, audio, video {
          margin: 0;
          padding: 0;
          border: 0;
          outline: 0;
          font-size: 100%;
          vertical-align: baseline;
          background: transparent; }

          body {
            line-height: 1; }

            article, aside, details, figcaption, figure, footer, header, hgroup, menu,
            nav, section {
              display: block; }

              nav ul {
                list-style: none; }

                blockquote, q {
                  quotes: none;
                  font-style: italic; }

                  blockquote:before, blockquote:after, q:before, q:after {
                    content: '';
                    content: none; }

                    a {
                      margin: 0;
                      padding: 0;
                      font-size: 100%;
                      vertical-align: baseline;
                      background: transparent;
                      color: #000;
                      text-decoration: none; }

                      hr {
                        display: block;
                        height: 1px;
                        border: 0;
                        border-top: 1px solid #efefef;
                        margin: 1em 0;
                        padding: 0; }

                        input, select {
                          vertical-align: middle; }

                          body {
                            max-width: 1000px;
                            font-size: 9px;
                            margin: auto;
                            position: relative;
                            color: #808080;
                            font-family: proximanova; }

                            h1, h2, h3, header, cite {
                              text-transform: uppercase; }

                              h2, h3 {
                                color: #4d4d4d; }

                                h2 {
                                  font-size: 18px;
                                  font-weight: lighter;
                                  letter-spacing: 4px; }

                                  .socialMedia {
                                    font-family: socialMedia; }

                                    .clear {
                                      clear: both; }

                                      .btn {
                                        background-color: #000;
                                        color: #fff;
                                        text-transform: uppercase;
                                        font-size: 8px;
                                        letter-spacing: 2px;
                                        font-family: proximanovaBold;
                                        cursor: pointer; }

                                        header {
                                          padding: 30px 9% 30px;
                                          position: absolute;
                                          top: 0;
                                          right: 0;
                                          left: 0;
                                          z-index: 4;
                                          color: #fff; }
                                          @media (max-width: 768px) {
                                            header {
                                              background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
                                              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,
                                                                                            0, 0, 0.65)), color-stop(100%, transparent));
                                              background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
                                              background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
                                              background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
                                              background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), transparent);
                                              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000',
                                                                                            endColorstr='#00000000',GradientType=0 );   }
}
                                            header h1 {
                                              display: inline-block;
                                              padding-left: 1.2%;
                                              float: left; }
                                              header h1 img {
                                                height: 27px; }
                                          header nav {
                                            display: inline-block;
                                            margin: 7px 0 0 7.7%;
                                            float: left;
                                            text-align: center; }
                                            header nav li {
                                              margin: 0 8px;
                                              letter-spacing: 2px;
                                              display: inline-block; }
                                          header .menu {
                                            display: none; }
                                            header .socialMedia {
                                              display: inline-block;
                                              text-align: right;
                                              margin-top: 7px;
                                              float: right; }
                                              header .socialMedia li {
                                                margin: 0 2px; }
                                          header li {
                                            display: inline;
                                            list-style-type: none; }
                                            header li a {
                                              color: #fff;
                                              text-decoration: none; }
                                              header li a:hover {
                                                color: #b3b3b3; }
                                          @media (max-width: 768px) {
                                            header nav {
                                              display: none;
                                              background-color: #000;
                                              float: none;
                                              clear: both;
                                              margin: 0;   }
                                              header nav li {
                                                display: block;
                                                padding: 15px;   }
                                            header .menu {
                                              display: inline-block;
                                              float: left;
                                              letter-spacing: 2px;
                                              margin: 7px 0 0 7.7%;
                                              cursor: pointer;   }
                                              header .menu:hover {
                                                color: #b3b3b3;   }
}

footer {
  padding-bottom: 20px; }
  footer .moreInfo {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 0 11.3%; }
    footer .moreInfo div {
      display: inline-block;
      height: 100px;
      vertical-align: top;
      padding-top: 22px;
      line-height: 1.8; }
      footer .moreInfo div.mailingList {
        width: 230px;
        padding-right: 78px; }
        footer .moreInfo div.moreInfoLinks {
          padding-right: 45px;
          width: 120px; }
          footer .moreInfo div.contact {
            padding-right: 66px;
            width: 120px; }
            footer .moreInfo div.socialMediaLinks {
              width: 65px; }
  footer .socialMedia li {
    display: inline;
    list-style-type: none;
    margin: 0 2px; }
    footer h3 {
      letter-spacing: 2px;
      font-family: proximanovaBold;
      color: #000; }
      footer p, footer ul, footer a {
        list-style-type: none;
        letter-spacing: 1px; }
        footer a {
          color: #808080; }
          footer form {
            margin-top: 10px; }
            footer form input {
              width: 120px;
              display: inline;
              height: 18px;
              border: 1px solid #efefef;
              padding: 2px 12px;
              text-transform: uppercase;
              letter-spacing: 2px;
              font-size: 8px; }
              footer form .joinButton {
                height: 23px;
                width: 68px;
                display: inline;
                border-width: 1px;
                padding: 2px;
                margin: 0; }
  footer .credits {
    padding: 20px 11.3%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 8px; }
    footer .copyright {
      float: left; }
      footer .siteBy {
        float: right; }
        footer a {
          text-decoration: none; }
          footer a:hover {
            color: #000; }

.homeSlider {
  position: relative;
  color: #fff; }
  .homeSlider .flexslider {
    border: 0;
    margin: 0; }
    .homeSlider .sliderCaption {
      z-index: 3;
      position: absolute;
      width: 347px;
      bottom: 49px;
      right: 98px; }
      .homeSlider .sliderCaption blockquote {
        font-size: 22px;
        line-height: 1.3;
        margin-bottom: 11px;
        font-family: proximanovaLight; }
        .homeSlider .sliderCaption cite {
          font-style: normal;
          letter-spacing: 2px; }
          @media (max-width: 768px) {
            .homeSlider .sliderCaption {
              position: static;
              width: auto;
              background-color: #4d4d4d;
              padding: 10px 10%;   }
              .homeSlider .sliderCaption blockquote {
                font-size: 16px;   }
}
  .homeSlider .sliderImageSelect {
    position: absolute;
    bottom: 20px;
    right: 50px;
    font-size: 10px;
    letter-spacing: 1px;
    list-style-type: none;
    z-index: 3; }
    .homeSlider .sliderImageSelect li {
      display: inline;
      cursor: pointer; }
      .homeSlider .sliderImageSelect li:hover,
      .homeSlider .sliderImageSelect li.flex-active {
        color: #b3b3b3; }

.introduction {
  padding: 81px 11% 70px 11.3%;
  background-color: #000;
  color: #fff; }
  .introduction h2 {
    display: inline-block;
    float: left;
    color: #fff; }
    .introduction p {
      display: inline-block;
      float: right;
      width: 55.7%;
      line-height: 2.5;
      font-size: 10px;
      letter-spacing: 1.5px;
      color: #b3b3b3;
      font-family: proximanovaLight;
      margin-top: -8px; }
      @media (max-width: 768px) {
        .introduction p {
          float: none;
          width: 100%;
          margin-top: 24px;   }
}

.twitterFeed {
  height: 300px;
  background-image: url('/static/img/grass_background.png');
  background-position: center;
  color: #fff;
  text-align: center; }
  .twitterFeed h2 {
    padding-top: 60px;
    color: #fff;
    padding-bottom: 63px; }
    .twitterFeed blockquote {
      width: 350px;
      margin: auto;
      letter-spacing: 2px;
      font-size: 24px;
      line-height: 1.5;
      display: inline-block; }
      .twitterFeed .openQuote, .twitterFeed .closeQuote {
        display: inline-block;
        font-size: 65px; }
        .twitterFeed .openQuote {
          position: relative;
          top: -30px; }
          .twitterFeed .closeQuote {
            position: relative;
            bottom: -40px; }
            @media (max-width: 640px) {
              .twitterFeed .openQuote, .twitterFeed .closeQuote {
                display: inline;
                font-size: 24px;
                position: static;   }
                .twitterFeed blockquote {
                  display: inline;   }
}

.headerBackground img {
  width: 100%; }

.pageContent {
  text-align: center;
  padding: 48px 6.9% 67px; }
  .pageContent > p {
    width: 55%;
    padding: 31px 0 21px;
    margin: auto;
    font-size: 12px;
    line-height: 2; }
    .pageContent hr {
      width: 90px;
      margin: auto; }

.contentContainer {
  margin: 65px 9% 0; }
  .contentContainer .contactInfo {
    float: left;
    width: 35%;
    min-width: 150px;
    text-align: left; }
    .contentContainer .contactInfo ul {
      list-style-type: none; }
      .contentContainer .contactInfo h3 {
        letter-spacing: 4px;
        font-family: proximanovaLight; }
        .contentContainer .contactInfo ul {
          padding: 10px 0 35px;
          line-height: 1.5;
          font-size: 11px;
          letter-spacing: 1px; }
  .contentContainer form {
    float: right;
    width: 64%; }
    .contentContainer form input {
      display: block;
      width: 92%;
      height: 10px;
      border: 1px solid #efefef;
      padding: 10px 4%;
      margin-bottom: 17px; }
      .contentContainer form input.send {
        height: 36px;
        width: 91px;
        float: right;
        font-size: 10px; }
    .contentContainer form textarea {
      display: block;
      width: 92%;
      border: 1px solid #efefef;
      padding: 10px 4%;
      margin: 17px 0; }
  @media (max-width: 640px) {
    .contentContainer form {
      float: none;
      margin: auto;
      width: 100%;   }
      .contentContainer .contactInfo {
        float: none;   }
}

.articalContainer {
  padding-top: 30px;
  padding-bottom: 40px; }
  .articalContainer .mainArticals {
    padding: 42px 0 0;
    width: 49.8%;
    min-width: 290px;
    display: inline-block; }
    .articalContainer .mainArticals img {
      height: 48px; }
      .articalContainer .mainArticals p {
        line-height: 2.5;
        letter-spacing: 1px;
        text-align: left;
        padding: 38px 0 0;
        width: 285px;
        margin: auto; }
