{% extends "heading.html" %}
{% block imageId %}contactPage{% endblock %}
{% block pageTitle %}Contact us{% endblock %}
{% block pageSubtitle %}Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.Cras justo odio, dapibus ac facilisis in, egestas eget quam.{% endblock %}
{% block pageDetails %}
<hr>
<div class="contentContainer">
	<div class="contactInfo">
		<h3>General Enquiries</h3>
		<ul>
			<li>warren@verbbrands.com</li>
			<li>+44 (0) 7900 333 691</li>
		</ul>
		<h3>Ask us a question</h3>
		<ul>
			<li>@verbbrands</li>
		</ul>
	</div>
	<form action="">
		<input type="text" placeholder="Name" required>
		<input type="email" placeholder="Email address" required>
		<input type="tel" placeholder="Telephone Number" required>
		<textarea name="" id="" cols="30" rows="11" placeholder="Your Message" required></textarea>
		<input class="send btn" type="submit" value="Send">
	</form>
	<div class="clear"></div>
</div>
{% endblock %}