{% extends "heading.html" %}
{% block imageId %}headingPage{% endblock %}
{% block imageURL %}'/static/img/heading_background.png'{% endblock %}
{% block pageTitle %}Heading 2{% endblock %}
{% block pageSubtitle %}Phasellus sed elit eu metus viverra venenatis.{% endblock %}
{% block pageDetails %}
<div class="articalContainer">
	<artical class="mainArticals">
		<img  src="/static/img/you_logo.svg" alt="You?">
		<p>Etiam vitae odio quam. Donec enim augue, pellentesque consequat eros ut, rutrum condimentum lacus. Etiam congue porttitor felis vitae adipiscing. Morbi sagittis tristique pellentesque. Etiam vitae odio quam. Donec enim augue, pellentesque consequat eros ut, rutrum condimentum lacus. Etiam congue porttitor felis vitae adipiscing. Morbi sagittis tristique pellentesque.</p>
	</artical>
	<artical class="mainArticals">
		<img src="/static/img/vortex_logo.svg" alt="Vortex">
		<p>Etiam vitae odio quam. Donec enim augue, pellentesque consequat eros ut, rutrum condimentum lacus. Etiam congue porttitor felis vitae adipiscing. Morbi sagittis tristique pellentesque. Etiam vitae odio quam. Donec enim augue, pellentesque consequat eros ut, rutrum condimentum lacus. Etiam congue porttitor felis vitae adipiscing. Morbi sagittis tristique pellentesque.</p>
	</artical>
	<artical class="mainArticals">
		<img src="/static/img/verb_logo_black.svg" alt="Verb">
		<p>Etiam vitae odio quam. Donec enim augue, pellentesque consequat eros ut, rutrum condimentum lacus. Etiam congue porttitor felis vitae adipiscing. Morbi sagittis tristique pellentesque. Etiam vitae odio quam. Donec enim augue, pellentesque consequat eros ut, rutrum condimentum lacus. Etiam congue porttitor felis vitae adipiscing. Morbi sagittis tristique pellentesque.</p>
	</artical>
	<artical class="mainArticals">
		<img src="/static/img/herbalife_logo.svg" alt="Herbalife">
		<p>Etiam vitae odio quam. Donec enim augue, pellentesque consequat eros ut, rutrum condimentum lacus. Etiam congue porttitor felis vitae adipiscing. Morbi sagittis tristique pellentesque. Etiam vitae odio quam. Donec enim augue, pellentesque consequat eros ut, rutrum condimentum lacus. Etiam congue porttitor felis vitae adipiscing. Morbi sagittis tristique pellentesque.</p>
	</artical>
	<div class="clear"></div>
</div>
{% endblock %}