{% extends "base.html" %}
{% block pageContent %}
	<section>
		<blockquote>
			<p>Donec auctor volutpat lorem, nec cursus augue congue ac. Curabitur malesuada lacinia lorem...</p>
		</blockquote>
		<cite>Warren Moore</cite>
		<ol>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ol>
	</section>
	<section>
		<h2>Introduction</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed facilisis neque, a pulvinar justo. Vivamus vehicula ligula diam, sit amet dictum mi aliquet in. Mauris sed lectus a sem interdum convallis. Duis dictum luctus purus, non porta neque aliquam in. Integer lobortis vestibulum vehicula. Morbi ut faucibus felis. Quisque nec ultrices quam. Vivamus erat leo, placerat et sem a, consequat euismod erat.</p>
	</section>
	<section>
		<h2>T Latest Tweets</h2>
		<blockquote>Welcome to our twitter #verbbrands</blockquote>
	</section>
{% endblock %}
