{% extends "base.html" %}
{% block pageContent %}
	<section class="homeSlider">
		<div class="sliderCaption">
			<blockquote>
				<p>&#8220;Donec auctor volutpat lorem, nec cursus augue congue ac. Curabitur malesuada lacinia lorem...&#8221;</p>
			</blockquote>
			<cite>Warren Moore</cite>
		</div>
		<p class="sliderImageSelect">
			<span>1</span> |
			<span>2</span> |
			<span>3</span> |
			<span>4</span> |
			<span>5</span> |
			<span>6</span> |
			<span>7</span>
		</p>
	</section>
	<section class="introduction">
		<h2>Introduction</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed facilisis neque, a pulvinar justo. Vivamus vehicula ligula diam, sit amet dictum mi aliquet in. Mauris sed lectus a sem interdum convallis. Duis dictum luctus purus, non porta neque aliquam in. Integer lobortis vestibulum vehicula. Morbi ut faucibus felis. Quisque nec ultrices quam. Vivamus erat leo, placerat et sem a, consequat euismod erat.</p>
	</section>
	<section class="twitterFeed">
		<h2><span class="socialMedia">&#62993;</span> Latest Tweets</h2>
		<p class="openQuote">&#8220;</p>
		<blockquote>Welcome to our twitter #verbbrands</blockquote>
		<p class="closeQuote">&#8221;</p>
	</section>
{% endblock %}
